.featured {
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 4rem;
}

.row {
  margin-top: 0;
  display: flex;
  justify-content: left;
}

.col {
  flex-basis: 40%;
  margin-bottom: 2%;
  padding: 1.25rem 0.76rem;
  box-sizing: border-box;
}

.col-2 {
  flex-basis: 50%;
  /* background: rgb(204, 204, 204);
  border-radius: 0.625rem; */
  margin-bottom: 2%;
  padding: 1.25rem 0.76rem;
  box-sizing: border-box;
}

.item-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16.875rem;
  vertical-align: bottom;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  min-width: ;
}

@media (max-width: 43.75rem) {
  .row {
    flex-direction: column;
  }

  .featured {
    padding-top: 3.1rem;
  }

  .featured h1 {
    font-size: 1.5rem;
  }

  .featured p {
    font-size: 0.9rem;
  }

  .item-image {
    width: 60%;
  }
}
