.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(/src/Components/Introduction/Images/Banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}   

.img-logo {
    position:absolute;
    width: 25%;
    height: auto;
    z-index:10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-twitter {
    position:absolute;
    alt: "twitter logo";
    width: 6%;
    height: auto;
    z-index:10;
    top: 85%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.img-facebook {
    position:absolute;
    alt: "facebook Logo";
    width: 6%;
    height: auto;
    z-index:10;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-instagram {
    position:absolute;
    alt: "instagram Logo";
    width: 6%;
    height: auto;
    z-index:10;
    top: 85%;
    left: 60%;
    transform: translate(-50%,-50%);
}

@media (max-width: 43.75rem){
    .img-logo{
        width: 50%;
    }

    .img-twitter{
        width: 15%;
        top: 75%;
        left: 30%;  
    }

    .img-facebook{
        width: 15%;
        top: 75%;
    }

    .img-instagram{
        width: 15%;
        top: 75%;
        left: 70%;   
    }
} 