
@font-face {
    font-family: AltmannGroteskThin;
    src: url(/src/Fonts/AltmannGrotesk-Light.ttf);
}


* {
    margin: 0;
    padding: 0;
    font-family: AltmannGroteskThin;
}


html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1;
    font-weight: 300;
    line-height: 1.376;
    padding: 0.625;
}

.color-gray{
    color: rgb(105, 105, 105)
}

.align-left {
    text-align: left;
}