#container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
}

#img-background {
    width: 100%;
    height: auto;
    alt: "Menu Background Image";
    filter: brightness(25%);
    overflow-x:hidden;
    overflow-y:hidden;
}